@import './MixinsVariables.modules.scss';

#root {

  font-family: "GC";
  position: fixed;
  font-size: 17px;
  hyphens: auto;
  text-justify: inter-word;
  


  // width: calc(100vw);
  // height: calc(100vh);

}

/////////////////////////////////////////////////////////////////  MOBILE
@media only screen and (max-width: 700px) {
  .AppWrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 8px)); // Adjusted for gap
    grid-template-rows: repeat(10, calc(10% - 10px)); // Adjusted for gap
    gap: 8px;
  }

  .NavBarWrapper {
    grid-row: 1/2;
    grid-column: 1/6;

  }

  .SideBarWrapper {
    grid-row: 2/4;
    grid-column:1/6;
    overflow-x: scroll;
  }

  .ProductDetailWrapper {
    grid-row: 4/11;
    grid-column: 1/6;
    max-width: 100%;
    overflow: auto;

  }
}

///////////////////////////////////////////////////////////////// DESKTOP
@media only screen and (min-width: 700px) {
  .AppWrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, calc(16.666% - 8px)); // Adjusted for gap
    grid-template-rows: repeat(20, calc(4.97% - 8px)); // Adjusted for gap
  }

  .NavBarWrapper {
    top: 0;
    position: sticky;
    grid-row: 1/4;
    grid-column: 1/7;
    // background-color: $base-color;

  }

  .SideBarWrapper {
    position: sticky;
    grid-row: 4/21;
    grid-column: 1/2;

  }

  .ProductDetailWrapper {

    position: sticky;
    overflow: auto;
    grid-row: 4/21;
    grid-column: 2/7;
    
  }
}




///////////////////////////////////////////////////////////////// GENERAL
:link {
  text-decoration: none;
  color: black;

  :visited {
    color: $text-color;

  }
}

button {
  all: unset;
  border: 1px solid $text-color;
  text-wrap: nowrap;
  padding: 8px 24px;
  margin-inline-end: 16px;
  cursor: pointer;

}

button:hover {
  color: $base-color;
  background-color: $text-color;
}

::-webkit-scrollbar {
  display: none;
}