@font-face {
  font-family: "GC";
  src: url("../Assets/gc16_Mono.woff");

}

@mixin H1 {
  text-align: justify;
  text-justify: justify;
  margin: auto;
  text-decoration: none;
  color: $text-color;
  font-weight: normal;

  @media only screen and (min-width: 900px) {
    letter-spacing: -0.2vw;
    font-size: 9.4vw;
    line-height: 1vh;
    margin-top: -3vw;
    @media only screen and (min-width: 1400px) {
      font-size: 7.4vw;
      letter-spacing: 1vw;
    }
  }

  @media only screen and (max-width: 900px) {
    font-size: 9vw;
    line-height: 1vh;
    letter-spacing: 0.2vw;


  }
}

h3 {
  font-size: 2.3vw;
  text-decoration: none !important;
  line-height: 105%;
  letter-spacing: -5%;
  font-weight: normal;

  @media only screen and (min-width: 900px) {
    font-size: 2.3vw;

  }

  @media only screen and (max-width: 900px) {
    font-size: 4.6vw;

  }
}

@mixin Body-Txt {
  line-height: 117.5%;
  word-spacing: -7%;
  @media only screen and (min-width: 900px) {
    font-size: 20px;

  }

  @media only screen and (max-width: 900px) {
    font-size: 15px;

  }
}



// VAR

$base-color: #fff;
$text-color:#000;