@import './MixinsVariables.modules.scss';


.NavBarWrapper {
    width: 100%;
    text-align: justify;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 1;



    h1 {
        @include H1();




    }

    :link {
        text-decoration: none;
        color: black;

        :visited {
            text-decoration: none;
            color: black;
        }
    }
}