@font-face {
    font-family: "GC";
    src: url("../Assets/gc16_Mono.woff");
  }

@mixin H1 {
  text-justify: justify;
  text-decoration: none;
  line-height: auto;
  color: $text-color;
  
  @media only screen and (min-width: 900px) {
    letter-spacing: 0.2vw;
    font-size: 9.3vw;

  }
  @media only screen and (max-width: 900px) {
    font-size: 9vw;

  }
}

h3 {
  font-size: 2.3vw;
  text-decoration: none !important;
  line-height: auto;

  @media only screen and (min-width: 900px) {
    font-size: 2.3vw;

  }
  @media only screen and (max-width: 900px) {
    font-size: 4.9vw;

  }
}


// VAR

$base-color: #fff;

$text-color:#000;