@import './MixinsVariables.modules.scss';


.NavBarWrapper {
    width: 100%;
    background-color: $base-color;
    text-align: justify;
    height: 5vw;
    position: sticky;
    top: 0;
    z-index: 1;



    h1 {
        @include H1();




    }
    
      :link {
    text-decoration: none;
    color: black;

    :visited {
    }
}
}
